.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-x: auto;
}

.kanban-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 400px;
  max-height: 100vh;
  background-color: #f8f8f8;
  padding: 16px;
}

.columns-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-bottom: 16px;
  overflow-x: auto;
}

/** Container */
.column-container {
  min-height: 200px;
  max-height: 100vh;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
  border-radius: 10px;
}

.column-header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.column-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column-header-sum {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sum-value {
  color: #3c3c3c;
}

.column-counter {
  width: 16px;
  height: 16px;
  text-align: center;
  padding: 4px;
  border-radius: 100%;
  color: rgb(102, 102, 102);
  background-color: rgb(206, 242, 206);
}

.column-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.cards-wrapper {
  height: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  overflow-y: auto;
}

/** Card **/
.card-container {
  display: flex;
  width: 350px;
  flex-direction: column;
  justify-content: start;
  align-content: space-between;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
  padding: 20px;
  gap: 16px;
  cursor: grab;
}

.card-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.card-tag {
  display: flex;
  align-items: center;
  background-color: rgb(206, 242, 206);
  color: rgb(102, 102, 102);
  border-radius: 8px;
  padding: 8px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-title {
  text-align: start;
  font-size: 18px;
  font-weight: 600;
  height: auto;
  text-wrap: wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 4px;
}

.card-info-label {
  font-size: 12px;
  text-align: start;
  color: rgb(36, 36, 36);
  opacity: 0.7;
}

.card-info-value {
  font-size: 14px;
}

.card-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 24px
}

.card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  border-top: 1px solid rgb(241, 241, 241);
  padding-top: 16px;
}

.card-text {
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.lookup-persona-name:hover {
  text-decoration: underline;
  color: #70a970;
}

.lookup-persona-name{
  color: #115ea3;
}

/** Command Bar */
.kanban-commandar-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
}

/** Dropdown */
.kanban-dropdown {
  display: flex;
  flex-direction: row;
  height: fit-content;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  gap: 16px
}

.kanban-dropdown .ms-Dropdown-title {
  padding: 0px !important;
  border: none !important;
}

.kanban-dropdown .ms-Dropdown .is-open {
  padding: 0px !important;
  border: 0 !important;
}

.kanban-dropdown .ms-Dropdown-container {
  padding: 0px;
  border-radius: 10px;
}

.kanban-dropdown div:focus::after {
  border: 0 !important;
}

.kanban-dropdown .ms-Dropdown-label {
  padding-left: 0px !important;
}

/** Action Button */
.action-button {
  display: flex;
  flex-direction: row;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
}

body {
  --sb-track-color: #f1f1f1;
  --sb-thumb-color: #dedede;
  --sb-size: 6px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.personaContainer:hover{
  text-decoration: underline;
}

.user-badge{
  color: #115ea3;

}

.cards-wrapper::-webkit-scrollbar {
  width: var(--sb-size);
}

.cards-wrapper::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

.cards-wrapper::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
  border: 1px solid #dedede;
}

@supports not selector(::-webkit-scrollbar) {
  .cards-wrapper {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}